@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
{
<script src="https://www.bing.com/api/maps/mapcontrol?key=AnVnNDPLn18MnvZYlZX0-iRU1hqhDOaiAevBgxSr0nMnYE4mnSdSzkO_u8gxbmOD"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var map;
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('map'), {});
    }

    function getPoints() {
        axios
            .get('http://localhost:5000/api/places')
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
}

<div class="text-center">
    <h1 class="display-4">DispatchR</h1>
    <div class="row">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" onclick="getPoints();">Get Points</button>
        </div>
    </div>
</div>
