@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
{
<script src="https://www.bing.com/api/maps/mapcontrol?key=AnVnNDPLn18MnvZYlZX0-iRU1hqhDOaiAevBgxSr0nMnYE4mnSdSzkO_u8gxbmOD"></script>
<script>
    var map;
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('map'), {});
    }
</script>
}

<div class="text-center">
    <h1 class="display-4">DispatchR</h1>
    <div id="map"></div>
</div>
