@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
{
<script src="https://www.bing.com/api/maps/mapcontrol?key=AnVnNDPLn18MnvZYlZX0-iRU1hqhDOaiAevBgxSr0nMnYE4mnSdSzkO_u8gxbmOD"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var map;

    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('map'), {});
        map.setView({
            center: new Microsoft.Maps.Location(47.645050, -122.130210),
            zoom: 16
        });
        Microsoft.Maps.Events.addHandler(map, 'click', function (e) 
        { 
            console.log(e.location.latitude + ', ' + e.location.longitude);
        });
    }

    function getPoints() {
        axios
            .get('http://localhost:5000/api/places')
            .then(function (response) {
                console.log(response.data);
                for(i=0; i<response.data.length; i++) {
                    var pushpin = new Microsoft.Maps.Pushpin({
                        latitude: response.data[i].latitude,
                        longitude: response.data[i].longitude
                    }, { color: 'red'});

                    pushpin.metadata = {
                        title: response.data[i].name,
                        placeId: response.data[i].id
                    };

                    Microsoft.Maps.Events.addHandler(pushpin, 'click', function (args) 
                    {
                        console.log(args.target);
                        $('#place').data('placeId', args.target.metadata.placeId)
                        $('#exampleModalLabel').text(args.target.metadata.title);
                        $('#mapClickedModal').modal('toggle');
                    });

                    map.entities.push(pushpin);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function sendForHelp(e) {
        console.log($(e).data('placeId'));
    }
</script>
}

<div class="text-center">
    <h1 class="display-4">DispatchR</h1>
    <div class="row">
        <div id="map" class="col-12"></div>
    </div>
    <div class="row">
        <div class="col-1">
            <button type="button" class="btn btn-success" onclick="getPoints();">Step 1: Get Points</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mapClickedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ask one of the mobile users for help in this location.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="place" data-placeId="" onclick="sendForHelp(this);">Send for help</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>