@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
{
<script src="https://www.bing.com/api/maps/mapcontrol?key=AnVnNDPLn18MnvZYlZX0-iRU1hqhDOaiAevBgxSr0nMnYE4mnSdSzkO_u8gxbmOD"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var map;

    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('map'), {});
        map.setView({
            center: new Microsoft.Maps.Location(47.645050, -122.130210),
            zoom: 16
        });
    }

    function getPoints() {
        axios
            .get('http://localhost:5000/api/places')
            .then(function (response) {
                console.log(response.data);
                for(i=0; i<response.data.length; i++) {
                    var pushpin = new Microsoft.Maps.Pushpin({
                        latitude: response.data[i].latitude,
                        longitude: response.data[i].longitude
                    }, null);
                    map.entities.push(pushpin);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
}

<div class="text-center">
    <h1 class="display-4">DispatchR</h1>
    <div class="row">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" onclick="getPoints();">Get Points</button>
        </div>
    </div>
</div>
